---
import { getCollection } from "astro:content"
import Layout from "../../layouts/Layout.astro"

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
    const blogEntries = await getCollection("pages")
    const child_pages = blogEntries.filter((entry) => entry.slug.startsWith)
    return blogEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: {
            entry,
            pages: blogEntries.filter(
                (other) =>
                    other.slug.startsWith(entry.slug) &&
                    other.slug !== entry.slug,
            ),
        },
    }))
}

const { entry, pages } = Astro.props
const { Content } = await entry.render()

const title = entry.data.title
const desc = entry.body.slice(0, 100)
---

<Layout title={title} description={desc}>
    <main>
        <h1>{title}</h1>
        <hr />
        <p><a href="/pages">Pages</a></p>

        <br />
        <Content />
        <ul>
            {
                pages.map((p) => (
                    <li>
                        <a href={`/pages/${p.slug}`}>{p.data.title}</a>
                    </li>
                ))
            }
        </ul>
    </main>
</Layout>
