---
import { getCollection } from "astro:content"
import Stats from "../../components/Stats.astro"
import Layout from "../../layouts/Layout.astro"

export async function getStaticPaths() {
    const spellsEntries = await getCollection("spells")

    return spellsEntries.map((spell) => ({
        params: { slug: spell.id },
        props: { spell: spell.data },
    }))
}

const { spell } = Astro.props

const { name, desc, ...other } = spell

const data: Record<string, any> = other
---

<Layout title={name} description={desc}>
    <main>
        <h1>
            {name}
        </h1>
        <p>{desc}</p>

        <h2>Classes</h2>
        <ul>
            {
                data.classes.map((cls: string) => (
                    <li>
                        <a href={`/classes/${cls}`}>{cls}</a>
                    </li>
                ))
            }
        </ul>
        <hr />
        <Stats data={data} />
    </main>
</Layout>

<style></style>
