---
import { getCollection } from "astro:content"
import Layout from "../layouts/Layout.astro"
const spellsEntries = await getCollection("spells")
---

<Layout title="Spells">
    <main>
        <h1>Spells</h1>
        <ul role="list" class="link-card-grid">
            {
                spellsEntries.map(({ data: spell }) => (
                    <li class="card">
                        <span class="title">
                            <a href={`/spells/${spell.slug}`}>
                                <strong class="name">{spell.name} </strong>
                            </a>

                            <i class="school">- {spell.school}</i>

                            <span class="source">{spell.document__slug}</span>
                        </span>
                        <p>
                            <strong>{spell.components}</strong>
                        </p>
                        <span style="display: flex; align-items: flex-end;">
                            <i>{spell.dnd_class}</i>
                            {spell.icon && (
                                <span class="icon">{spell.icon}</span>
                            )}
                        </span>
                    </li>
                ))
            }
        </ul>
    </main>
</Layout>
<style>
    .desc {
        max-lines: 2;
        line-break: normal;
    }
    .school {
        margin-left: 1ch;
    }
    .icon {
        font-family: elderberry-inn-icons !important;
        speak: never;
        font-style: normal;
        font-weight: 400;
        font-feature-settings: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-left: auto;
        font-size: 3rem;
        background-color: black;
        color: white;
        border-radius: 5px;
    }
</style>
