---
import { getCollection } from "astro:content"
import Layout from "../layouts/Layout.astro"
const spellsEntries = await getCollection("spells")
---

<Layout title="Spells">
    <main>
        <h1>Spells</h1>
        <ul role="list" class="link-card-grid">
            {
                spellsEntries.map(({ data: spell }) => (
                    <li class="card">
                        <span class="title">
                            <a href={`/spells/${spell.slug}`}>
                                <strong class="name">{spell.name} </strong>
                            </a>

                            <i class="school">- {spell.school}</i>

                            <span class="source">{spell.document__slug}</span>
                        </span>
                        <p>
                            <strong>{spell.components}</strong>
                        </p>
                        <span style="display: flex; align-items: flex-end;">
                            <i>{spell.dnd_class}</i>
                            {spell.icon && (
                                <img class="icon" src={spell.icon} />
                            )}
                        </span>
                    </li>
                ))
            }
        </ul>
    </main>
</Layout>
<style>
    .desc {
        max-lines: 2;
        line-break: normal;
    }
    .school {
        margin-left: 1ch;
    }
    .icon {
        font-family: elderberry-inn-icons !important;
        margin-left: auto;
        height: 32px;
        widows: 32px;
        background-color: white;
        color: black;
        border-radius: 4px;
        padding: 4px;
        filter: invert(1);
    }
</style>
