---
export interface Props {
  title: string
  description?: string
}

const { title, description = "5e content available under the OGL" } =
  Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="description" content={description} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="og:title" content={title} />
    <title>{title}</title>
  </head>
  <body>
    <header><nav><a href="/">Open 5e Static Test - Home</a></nav></header>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 135, 23, 23;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(218, 98, 98) 30%,
      white 60%
    );
  }

  body {
    margin: 0;
    padding: 0;
  }

  h2 {
    border-bottom: 3px solid rgb(218, 98, 98);
    margin-top: 2rem;
    padding-bottom: 0.25rem;
  }

  hr {
    border-color: rgb(var(--accent));
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  header {
    background-color: rgb(var(--accent));
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
  }
  header a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: rgb(var(--accent));
  }
</style>
